:root {
  --limeGreen: #e9fff0;
  --neonGreen: #27fb6b;
  --oceanGreen: #02b23b;
  --orchidPurple: #963484;
  --lightPurple: #f4ebf3;
  --darkNavyBlue: #05445e;
  --black: #000000;
  --backgroundGrey: #f2f2f2;
  --white: #ffffff;
  --secondaryTextColor: #191919;
  --headingColor: #5e5e5e;
  --borderColor: #cccccc;
}

